*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #fafafa;
}

header{
  background-color: #2373fc;
  color: #fff;
  border-radius: 10px;
}

nav{
  height: 200px;
  background-color: #dedede;
  border-radius: 10px;
  position: sticky;
  top: 5px;
  z-index: 2;
}

#bookclub-main-content, #bookclub-intro{
  background-color: #dedede;
  border-radius: 10px;
  /* padding: 20px; */
}

#bookclub-main-content h2{
  color: #2373fc;
}

#best-sellers p b{
  color: #003566;
}

#opening-times #closed-day th{
  color: #ff4d4d;
}

footer h2{
  color: #6524ff;;
}

ul li a{
  text-decoration: none;
}

h2, h3{
  text-decoration: underline;
}

#teachers-info div{
  margin: 10px;
  width: 400px;
  box-shadow: 6px 0 21px -3px #333333;
  padding: 20px;
  border-radius: 5px;
}

nav li{
  margin: 10px;
  padding: 5px;
  border: 1px solid #2373fc;
  border-radius: 5px;
}

ul{
  margin: 10px;
  list-style-type: none;
}

table{
  margin: auto;
}

th, td{
  padding: 10px;
}

footer{
  padding: 10px;
}

.navigation-bar{
  margin: 10px;
  padding: 2px;
}