*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
}

.top-nav{
    overflow: hidden;
    float: left;
    background-color: #cacaca;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

.top-nav a{
    text-decoration: none;
    color: #177fe6;
    font-weight: 600;
    font-size: 18px;
    margin-right: 50px;
    padding: 14px 16px;
    transition: .3s ease;
}

.top-nav a.active{
    background: #177fe6;
    color: #fff;
}

.top-nav a:hover{
    background: #52a5f8;
    color: #ffffff;
}

header{
    position: relative;
    top: 40px;
}

header img{
    border-radius: 10px;
    border: 2px solid #177fe6;
    margin-bottom: 20px;
}